<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exercices de Musculation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Exercices de Musculation</h1>
    
    <div id="exercise-list">
        <h2>Liste des Exercices</h2>
        {% for exercise in exercises %}
            <div>
                <h3>{{ exercise.name }}</h3>
                <p><strong>Description :</strong> {{ exercise.description }}</p>
                <p><strong>Catégorie :</strong> {{ exercise.category }}</p>
                <p><strong>Difficulté :</strong> {{ exercise.get_difficulty_display }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Chat en Direct</h2>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" placeholder="Tapez votre message..." />
    <button onclick="sendMessage()">Envoyer</button>

    <script>
        // Connexion au WebSocket
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

        // Écoute des messages du WebSocket
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatLog = document.querySelector('#chat-log');
            chatLog.innerHTML += '<p>' + data.message + '</p>';
            chatLog.scrollTop = chatLog.scrollHeight; // Défilement vers le bas pour voir les nouveaux messages
        };

        // Fonction pour envoyer un message via le WebSocket
        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = ''; // Réinitialiser l'input après l'envoi du message
        }

        // Gérer la fermeture du WebSocket
        chatSocket.onclose = function(e) {
            console.error('Le WebSocket a été fermé de manière inattendue.');
        };
    </script>
</body>
</html>
