<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salle de chat</title>
    <style>
        #chat-log {
            border: 1px solid #ccc;
            padding: 10px;
            height: 300px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <h1>Salle de chat : <span id="room-name">{{ room_name }}</span></h1>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-send">Envoyer</button>

    <!-- Inclure le fichier JavaScript externe -->
    <script src="{% static 'js/room.js' %}"></script>
</body>
</html>
